name: Swiftlint Pipeline

on:
  pull_request:
    branches:
     - main
     - develop
  push:
   branches:
     - main
     
     
jobs:
  lint:
    runs-on: macos-latest
    
    steps:
     - name: Checkout Code
       uses: actions/checkout@v3
    
    - name: Install Swiftlint
      run: brew install swiftlint
      
    - name: Run Swiftlint and Save Report
      run: |
        swiftlint > swiftlint-report.txt || true
      continue-on-error: true

   - name: Upload Siwftlint Report
     uses: actions/upload-artifact@v3
     with:
      name: swiftlint-report
      path: swiftlint-report.txt
